ul {
    background-color: black;
    padding: 10px;
    
}

li {
    display: inline;
    column-count: 4;
    column-gap: 30px;
    margin-right: 15px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    text-align: justify;
    column-count: 4;
    column-rule: 3px solid black;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    padding-bottom: 7px;
}

footer h2 {
    font-size: 12pt;
}